.form-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
  height: 100vh;
}
.ttl-text {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 60px;
}
.label-text {
  margin-left: 10px;
}

.email_box,
.password_box {
  display: flex; /*アイコン、テキストボックスを調整する*/
  align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
  justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-top: 5px;
  margin-bottom: 80px;
}

.text_inner {
  width: 100%;
  height: 100%;
  background-color: transparent; /*.text_boxの枠線お角一部被るため透明に*/
  position: relative;
}

.email_text,
.password_text {
  position: absolute;
  z-index: 1; /*.password_stringよりも上に配置*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none; /*枠線非表示*/
  outline: none; /*フォーカス時の枠線非表示*/
  padding: 0 10px;
  font-size: 1.6rem;
  background-color: transparent; /*後ろの.password_stringを見せるため*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.email_string,
.password_string {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 10px; /*position: absolute;でのmarginは親要素はみ出す*/
  font-size: 1.6rem;
  line-height: 50px; /*文字列を縦方向にmiddleに見せるため*/
  background-color: transparent;
  color: #80868b;
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
/*アニメーション*/
.email_text:focus + .email_string,
.password_text:focus + .password_string {
  color: rgb(237, 117, 101);
  font-size: 1rem;
  line-height: 10px;
  width: 6.5rem;
  height: 10px;
  padding: 0 0 0 5px;
  background-color: #f2f2f2;
  transform: translate3d(20px, -6px, 0);
}
.password_text:focus + .password_string {
  width: 9rem;
}
.login-btn-center {
  text-align: center;
}
.login-btn {
  cursor: pointer;
  background-color: transparent;
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
}
.login-btn:hover {
  opacity: 0.7;
}
.link-center{
  text-align: center;
  margin: 1em 0px; 
  line-height: 40px
}
