/*ヘッダー、フッター、ハンバーガー、広告*/


/**********************************/


/*              base             */


/*********************************/

.main-side-content {
    display: grid;
    padding-top: 70px;
    /*ヘッダー分の空白*/
    grid-template-columns: 1fr 300px;
}

.main-content {
    padding: 20px 10px;
    background-color: #fff;
}


/**********************************/


/*            ヘッダー            */


/*********************************/

.header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #ffc0c0;
    border-bottom: 1px solid #b7b7b7;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-innder {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 50px;
    height: 50px;
}

.header-logo a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: gray;
}

.header-select {
    padding: 8px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #b7b7b7;
}

.index-text {
    padding: 8px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #b7b7b7;
}

.header-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-item {
    margin-right: 20px;
    font-weight: bolder;
}

.news-btn {
    cursor: pointer;
    padding: 3px 6px;
    background-color: #fff;
    border: 1px solid #b7b7b7;
}

.icon-wrapper a {
    text-decoration: none;
    display: block;
    color: gray;
}

.icon-wrapper i {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.burger-btn {
    display: block;
}

.burger-btn .bar {
    display: block;
    height: 4px;
    width: 30px;
    background-color: #000;
    transition: 0.3s;
    border-radius: 5px;
}

.bar_top,
.bar_mid {
    margin-bottom: 5px;
}

.burger-btn.cross .bar_top {
    transform: rotate(45deg) translate(6px, 6px);
    transition: 0.3s;
}

.burger-btn.cross .bar_mid {
    opacity: 0;
    transition: 0.3s;
}

.burger-btn.cross .bar_bottom {
    transform: rotate(-45deg) translate(6px, -6px);
    transition: 0.3s;
}

.header-search-icon {
    position: absolute;
    right: 2%;
}




/**********************************/


/*            広告                */


/*********************************/

.side-content {
    min-height: 100%;
    padding: 0 10px;
    border-left: 1px solid #b7b7b7;
    background-color: #fff;
}

.ad-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ad-item {
    margin-top: 30px;
}

.ad-item img {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #000;
}

.ad-item:last-of-type {
    margin-bottom: 30px;
}


/**********************************/


/*         ハンバーガー            */


/*********************************/

.none {
    display: none;
}

.humburger-nav {
    border-left: 1px solid #b7b7b7;
    background-color: rgb(240, 240, 240);
    position: fixed;
    text-align: center;
    right: 0;
    width: 300px;
    height: 100vh;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-top: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #000;
}

.nav-item a:hover {
    opacity: 0.7;
}

/**********************************/
  /*           フッター             */
  /*********************************/
  .footer {
    color: #f2f2f2;
    border-top: 1px solid #b7b7b7;
    background-color: gray;
  }
  .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-inner {
    text-align: center;
  }
  .copy-text {
    padding: 20px 0;
  }


/**********************************/


/*         メインコンテンツ         */


/*********************************/

.main-content {}


/*人気タグ*/

.PopularTags h1{
    font-size: 35px;
}

.PopularTags ui {
    width: 100%;
}

.PopularTags li {
    display: inline;
    padding: 10px;
    margin: 0 50px 0 60px;
    border: 1px solid#b7b7b7;
    background-color: rgb(255, 243, 165);
    border-radius: 5px;
    
}


/*おすすめアイテム*/

.RecommendedItems {
    width: 100%;
    height: 170px;
}

.RecommendedItems iframe {
    width: 100%;
    height: 300%;
    transform: scale(100%);
    border: #fff;
}